@import "tailwindcss";
@config "../../tailwind.config.js";

@theme {
  --breakpoint-xl: 1150px;
  /* --breakpoint-xl: 1200px; */
}

p {
  margin-bottom: 16px;
}

.news-text a:hover {
  color: #a0aec0;
}

/* @media (orientation: landscape) {
  .test {
    background-color: red;
  }
} */

@media ((min-width: 375px) and (max-width: 1024px) and (orientation: landscape)) {
  .test1 {
    width: calc(50vw - 23px);
    height: calc(150vh - 10px);
    margin-bottom: 10px;
  }
  .test2 {
    height: calc(150vh - 10px);
  }
  .test3 {
    grid-column: 3 / span 2;
    grid-row: 9 / span 4;
    margin-top: -32px;
  }
  .test4 {
    grid-row: 9 / span 4;
    margin-top: -32px;
  }
  .test5 {
    height: 60vh;
  }
}

@screen mobile-landscape {
  @media (orientation: landscape) {
    /* your styles */
    .test {
      background-color: green;
    }
  }
}
